body {
    font-family: 'Unbounded', cursive;
    margin: 0;
}

.section-1 {
    text-align: center;
    padding: 300px 0px;
    background-image: url(images/banner.jpg);
    background-color: rgb(133, 126, 126);
    background-blend-mode: multiply;
}

.section-1 h1 {
    color: white;
    font-size: 50px;
}

.section-1 p {
    color: white;
    padding: 0px 60px;
    margin-bottom: 30px;
}

.donate-button {
    text-decoration: none;
    color: white;
    background-color: rgb(192, 83, 83);
    padding: 15px 20px;
    border-radius: 7px;
}

.section-2 {
    text-align: center;
    margin: 80px 0;
}

.donation-amount {
    display: flex;
    align-items: center;
}

#tk-100 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 25%;
    margin-right: 10px;
    padding: 40px 15px;
    color: rgb(59, 55, 55);

}

#tk-200 {
    width: 100%;
    background-color: rgb(243, 236, 236);
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px;
    color: red;
    border: 2px solid red;
}

#tk-500 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px;
    color: rgb(59, 55, 55);
}

#tk-1000 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px;
    color: rgb(59, 55, 55);
}

#tk-5000 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 10px;
    margin-right: 25%;
    padding: 40px 15px;
    color: rgb(59, 55, 55);
}

#other-amount {
    color: gray;
    font-size: 15px;
    border-bottom: 1px solid gray;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    padding: 30px 0px;
}

.section-3 {
    text-align: center;
    margin: 80px 0;
}

#food-for-family {
    width: 100%;
    margin: 20px 20px 100px 200px;
    padding: 20px 20px 300px 20px;
    background-color: rgb(187, 226, 242);
}

#shelter-for-family {
    width: 100%;
    margin: 20px 20px 100px 20px;
    padding: 20px 20px 300px 20px;
    background-color: rgb(245, 223, 226);
}

#education-for-children {
    width: 100%;
    margin: 20px 200px 100px 20px;
    padding: 20px 20px 300px 20px;
    background-color: rgb(232, 216, 169);
}