body {
    font-family: 'Unbounded', cursive;
    margin: 0;
}

.section-1 {
    text-align: center;
    padding: 300px 0px;
    background-image: url(images/banner.jpg);
    background-color: rgb(133, 126, 126);
    background-blend-mode: multiply;
}

.section-1 h1 {
    color: white;
    font-size: 50px;
}

.section-1 p {
    color: white;
    padding: 0px 60px;
    margin-bottom: 30px;
}

.donate-button {
    text-decoration: none;
    color: white;
    background-color: rgb(192, 83, 83);
    padding: 15px 20px;
    border-radius: 7px;
}

.section-2 {
    text-align: center;
    margin: 80px 0;
}

.donation-amount {
    display: flex;
    align-items: center;
}

#tk-100 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 25%;
    margin-right: 10px;
    padding: 40px 15px;
    color: rgb(59, 55, 55);

}

#tk-200 {
    width: 100%;
    background-color: rgb(243, 236, 236);
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px;
    color: red;
    border: 2px solid red;
}

#tk-500 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px;
    color: rgb(59, 55, 55);
}

#tk-1000 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px;
    color: rgb(59, 55, 55);
}

#tk-5000 {
    width: 100%;
    background-color: rgb(254, 252, 252);
    margin-left: 10px;
    margin-right: 25%;
    padding: 40px 15px;
    color: rgb(59, 55, 55);
}

#other-amount {
    color: gray;
    font-size: 15px;
    border-bottom: 1px solid gray;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    padding: 30px 0px;
}

.section-3 {
    text-align: center;
    margin: 80px 0;
}

#food-for-family {
    width: 100%;
    margin: 20px 20px 50px 200px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(187, 226, 242);
    text-align: left;
    box-shadow: 10px 10px 20px gray;
}

#food-for-family img {
    display: block;
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

#shelter-for-family {
    width: 100%;
    margin: 20px 20px 50px 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(245, 223, 226);
    text-align: left;
    box-shadow: 10px 10px 20px gray;
}

#shelter-for-family img {
    display: block;
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

#education-for-children {
    width: 100%;
    margin: 20px 200px 50px 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(232, 216, 169);
    text-align: left;
    box-shadow: 10px 10px 20px gray;
}

#education-for-children img {
    display: block;
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

.section-4 {
    text-align: center;
    margin: 80px 0;
}

.section-4 p {
    padding: 10px 300px;
}

.form {
    display: flex;
    background-color: rgb(246, 242, 224);
    margin: 20px 25%;
    padding: 70px 120px;
}

#form-input {
    width: 60%;
    margin-left: 50px;
    background-color: rgb(213, 213, 212);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    color: gray;
    border-radius: 10px 0 0 10px;
}

#form-button {
    width: 40%;
    margin-right: 50px;
    background-image: linear-gradient(tomato, maroon);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 0 10px 10px 0;
}

footer {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}